footer.footer.text-sm
	p
		| Icons from
		a.footer__link(
				href="https://iconify.design/"
				target="_blank")
			| Iconify
			img.footer__icon(
					role="presentation"
					src="/imgs/icons/iconify.png")
		| &nbsp;and
		a.footer__link(
				href="https://iconduck.com"
				target="_blank")
			| Iconduck
			img.footer__icon(
					role="presentation"
					src="/imgs/icons/iconduck.png")
