footer.footer.text-sm
	p
		| Icons from
		a.footer__link.light-link(
				href="https://iconduck.com"
				target="_blank")
			| Iconduck
			img.footer__icon(
					role="presentation"
					src="/imgs/iconduck.png")
	p
		|  Blobs from
		a.footer__link.light-link(
				href="https://www.blobmaker.app/"
				target="_blank")
			| Blobmaker
			img.footer__icon(
				role="presentation"
				src="/imgs/blobmaker.svg")
